<div class="navbar_container">
			
			<div class="navbar_title">
					{{title}}
			</div>

			<div class="links">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="/about">About Me</a></li>
				</ul>
			</div>
</div>